/* nuevo */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "PT Sans", sans-serif;
  font-size: 16;
}
a {
  text-decoration: none;
  font-family: "Teko", sans-serif;
  font-size: 1.5rem;
  color: #10388f;
}

ul {
  list-style: none;
}
.container {
  width: 100%;
  margin: 0;
}
/*navigation*/
.nav-main {
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
  padding: 20px 0;
}
.active {
  background-color: rgb(255, 255, 255);
  position: fixed;
  width: 100%;
  transition: 0.6s;
  height: 10vh;
}
.active .nav-logo {
  height: 10vh;
  width: 14em;
  padding-left: 50px;
}
.nav-logo {
  width: 25em;
  height: 13vh;
  padding-left: 50px;
}
/*nav rigth*/
.nav-main ul {
  display: flex;
}
.nav-main ul li {
  padding: 10px;
  padding-right: 40px;
}

.nav-main ul li a:hover {
  border-bottom: 2px solid #10388f;
  color: #fb2e0f;
}
.nav-main ul.nav-menu {
  flex: 0;
}
.menu-btn {
  position: absolute;
  cursor: pointer;
  top: 18px;
  right: 30px;
  z-index: 2;
  font-size: 2rem;
  display: none;
}
.nav-main .active {
  background-color: #10388f;
}

/*showcase*/
.showcase {
  display: none;
  width: 100%;
  height: 760px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../img/img-principal.jpg") no-repeat bottom center/cover;
  margin-bottom: 20px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.showcase h2 {
  font-size: 15rem;
  font-weight:500;
  padding-right: 300px;
  font-family: "teko", sans-serif;
  color: #10388f;
  padding-bottom: 0;
  font-style: italic;
}
.showcase p {
  color: #ffffff;
  font-family: "Teko", sans-serif;
  font-size: 50px;
  padding-right: 10rem;
}
.showcase span{
  color: #ED1C24;
}
 /* mision-vision  */
.mision-vision{
  display: flex;
  align-items: center;
  padding: 8rem 10rem 8rem 15rem;
  justify-content: space-between;
  font-family: "Teko", sans-serif;
}
.texto-mision h3{
  font-size: 2.0rem;
  color: #FB2D0C;
  font-family: "Teko", sans-serif;
}
.texto-mision p{
  font-size: 1.3rem;
  padding-top: 10px;
  padding-bottom: 3rem;
  width: 30rem;
  text-align: justify;
  color: #11398C;
}

.mision-vision img{
border-radius: 10%;
height: 40rem;
}
/* valor-agregado */
.valor-agregado{
  display: flex;
  text-align: center;
  justify-content: space-around;
  padding: 50px 30px;
  
}
.valores{
width: 300px;
}
.valores i{
  background: #FB2D0C;
  border-radius: 50%;
  padding: 15px 15px;
}
.valores h3{
  font-family: "Teko", sans-serif;
}
.valores p{
  padding-top: 20px;
  font-size: 1.2em;
}

/* texto-centro */
.texto-2 h2{
  text-align: center;
  font-family: "Teko", sans-serif;
  font-size: 4rem;
}
/* slider */
.carrusel{
  height: 550px;
  display: flex;
  align-items: center;
}
.carrusel-item p{
  height: 25px;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  color: white;
}
.carrusel-items{
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 30px 0px;
}
.carrusel-item{
  min-width: 400px;
  max-width: 400px;
  height: 400px;
  margin: 10px;
}

.carrusel-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carrusel-item:hover{
  min-width: 410px;
  max-width: 410px;
  height: 410px;
  transition: 0.4s;
  
}


/* empresas */
.trabajan-seguros h3{
  text-align: center;
  font-family: "Teko", sans-serif;
  font-size: 70px;
}
.empresas {
  display: grid;
  grid-template-columns: repeat(6, 2fr);
  align-items: center;
  justify-items: center;
  margin-bottom: 100px;
  padding: 0 10px;
}
.empresas img {
  width: 150px;
  gap: 20px;
}
/* contacto */
.contacto {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 10px;
  margin: 10px 0px 0px 0px;
  text-align: center;
  font-family: "Teko", sans-serif;
  align-items: center;
  padding: 20px;
}
.contacto img {
  width: 350px;
  border-radius: 15px;
}
.contacto p {
  font-size: 30px;
  letter-spacing: 2px;
  color: #11398f;
}
.contacto h3 {
  font-size: 50px;
  color: #10388f;
}

/* social */
.social {
  padding-top: 20px;
  margin: 0px;
  background-color: white;
}
.social p {
  font-family: "Teko", sans-serif;
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}
.links {
  display: flex;
  align-items: center;
  justify-content: center;
}
.links a {
  margin: 0 30px;
}
.links a i {
  font-size: 3rem;
}

/* footer links */
.footer-links {
  background: #031e41;
  /* background-color: #1c2024; */
  padding: 35px 0;
  font-family: roboto;
}

.footer-links li,h3,h2{
  padding-bottom: 15px;
  font-family: Open Sans;
}
.footer-links img{
  width: 20vw;
  
}
.footer-container h3 {
  color: #e2e2e2;
  font-size: 17px;
  font-weight: 200;
}
.footer-container {
  display: grid;
  grid-template-columns:  1fr 0.5fr 0.5fr 1fr;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
}
.footer-container ul {
  margin: 0 auto;
}

@media (max-width: 1440px) {

  .mision-vision{
    padding-left: 8rem;
  }
  .mision-vision img{
    height:35em;
  }
}
@media (max-width: 1230px) {
  .showcase {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../img/img-principal.jpg") no-repeat left center/cover;
  }
  .showcase h2{
    padding-right: 0;
  }
  .showcase p{
    padding-right: 0;
  }
  .mision-vision{
    display: flex;
    padding: 4rem 5rem 7rem 7rem;
  }
  .texto-mision h3{
    font-size: 1.7rem;
  }
  .texto-mision p{
    font-size: 1.1rem;
    padding-bottom: 3rem;
    width: 20rem;
  }
  .mision-vision img{
    
      height: 30em;
    }
    .carrusel{
      height: 300px;
      margin-bottom: 30px;
    }
    .carrusel-item{
      min-width: 300px;
      max-width: 300px;
      height: 300px;
      margin: 0;
    }
  .nav-main ul li {
    padding: 5px 0;
    padding-right: 20px;
  }
  .empresas {
    grid-template-columns: repeat(3, 1fr);
  }
  .nav-logo {
    width: 18em;
  }
  .cards-banner-one p,
  .cards-banner-one h2 {
    font-size: 4em;
  }
}

@media (max-width: 800px) {
  .nav-logo {
    width: 13em;
  }
  .showcase {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../img/img-principal.jpg") no-repeat left center/cover;
    align-items: flex-start;
  }
  .showcase h2{
    font-size: 200px;
  }
  .mision-vision img{
    display: none;
  }
  .new-cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .mision-vision{
    display: flex;
    padding: 7rem 0rem 7rem 3rem;
    justify-content: center;
  }
  .texto-mision h3{
    font-size: 1.6rem;
  }
  .texto-mision p{
    font-size: 1.4rem;
    padding-bottom: 3rem;
    width: 20rem;
  }

  /* slider */
  .carrusel{
    height: 60vh;
  }
  .carrusel-item{
    min-width: 200px;
    max-width: 200px;
    height: 200px;
    margin: 10px;
  }
  
  .carrusel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .carrusel-item p{
    height: 31px;
    margin: 0;
    font-size: 0.7rem;
    display: flex;
    justify-content: center;
    background-color: black;
    text-align: center;
    color: white;
  }
  .valores h3{
    font-family: "Teko", sans-serif;
    font-size: 1.2;
  }
  .valores p{
    padding-top: 20px;
    font-size: 1.0em;
  }
  .empresas {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  .nav-main a {
    color: white;
  }
  .nav-main ul li a:hover {
    border-bottom: 2px solid white;
    color: #fb2e0f;
  }
  .nav-main ul.nav-menu {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #2f3640;
    height: 100%;
    padding: 30px;
    opacity: 0.9;
    transform: translateX(-400px);
    transition: transform 0.5s ease-in-out;
  }
  .active {
  }
  .nav-main ul.nav-menu.show {
    transform: translateX(-20px);
  }
  .nav-main ul.nav-menu.show {
    transform: translateX(-20px);
  }
  .nav-main ul.nav-menu li {
    padding: 20px;
    font-size: 14px;
  }
  .nav-main ul.nav-menu-right {
    margin-right: 50px;
  }
  .menu-btn {
    display: block;
  }
  .menu-btn:hover {
    opacity: 0.5;
  }

  .empresas img {
    width: 120px;
    gap: 20px;
  }
  .footer-links img{
    display: none;
    
  }
  .footer-container {
    display: grid;
    grid-template-columns: 0fr 0.5fr 0.5fr 1fr;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}
}
@media (max-width: 500px) {
  .footer-container {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  .footer-container ul {
    margin: 0;
    padding-left: 20px;
  }
  .showcase h2 {
    font-size: 70px;
  }
  .showcase p {
    font-size: 30px;
    padding-right: 7rem;
  }
  .mision-vision{
    display: flex;
    padding-left: 1rem;
    justify-content: center;
  }
  .valor-agregado{
    flex-direction: column;
    align-items: center;
  }
  .texto-mision h3{
    font-size: 1.2rem;
  }
  .texto-mision p{
    font-size: 1.1rem;
    padding-bottom: 3rem;
    width: 16rem;
  }
  .contacto img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 15px;
  }
  .contacto p {
    letter-spacing: 0;
    font-size: 20px;
  }
  .diferencias .card{
    width: 12rem;
  }
}
